$primary:   #202020;
$secondary: #121212;
$white:     #fff;
$red:       #ED3024;
$blue:      #3137C9;

$bp-1600: 1600px;
$bp-1400: 1400px;
$bp-1300: 1300px;
$bp-1100: 1100px;
$bp-800: 800px;
$bp-600: 600px;
$bp-500: 500px;