.content {
    background: url(../images/bg-4.jpg);
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 260px;
    @include breakpoint($bp-1400) {

        background-position: center top;
    }
    @include breakpoint($bp-500) {
        padding-bottom: 160px;
    }
    @include breakpoint($bp-400) {
        padding-top: 200px;
    }
    &-block {
        max-width: 736px;
        margin-left: auto;
    }
}