.header {
    background: #FFFDF9;
    &__logo {
        img {
            max-width: 155px;
            @include breakpoint($bp-800) {
                max-width: 115px;
                height: auto;
            }
            @include breakpoint($bp-400) {

                margin-bottom: 20px;
                max-width: 130px;
            }
        }
    }
    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        @include breakpoint($bp-500) {
            flex-direction: column;
            padding-bottom: 40px;
        }
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
        color: #4E4D4D;
        @include breakpoint($bp-800) {
            font-size: 16px;
            line-height: 28px;
        }
        @include breakpoint($bp-400) {
            max-width: 100%;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    &__phone {
        font-family: 'Fregat-Bold';
        font-size: 26px;
        position: relative;
        z-index: 2;
        @include breakpoint($bp-800) {
            font-size: 20px;
        }
    }
}