@font-face {
    font-family: 'Fregat-Bold';
    src: url('../fonts/Fregat-Bold.woff2') format('woff2'),
        url('../fonts/Fregat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fregat';
    src: url('../fonts/Fregat.woff2') format('woff2'),
        url('../fonts/Fregat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PotrachenoAlt';
    src: url('../fonts/PotrachenoAlt-Regular.woff2') format('woff2'),
        url('../fonts/PotrachenoAlt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

